@mixin flexCenter($direction, $background) { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background-color: $background;
}

@import "./colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

//Navigation section

.header {
    @include flexCenter(row, none);
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    .nav {
        //background-color: aqua;
        ul {
            li {
                display: inline;
                padding: 40px;
                a {
                    color: $black;
                    &:hover {
                        color: $grey;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//Landing Page section
.landing_page {
    background-image: url("/Assets/studio_background.png");
    height: 90vh;
    color: white;
    @include flexCenter(column,none);
    text-align: center;
    h1 {
        font-size: 100px;
        padding: 30px;
        color: white;
    }
    h3 {
        font-size: 25px;
        padding: 20px;
        background-color: rgba(15, 52, 96, 0.7);
    }
    #work {
        border: 1px solid $red;
        border-radius: 20px;
        background-color: $red;
        padding: 15px;
        margin-top: 20px;
        color: white;
        &:hover {
            background-color: white;
            border: 1px solid white;
            color: $navy;
            text-decoration: none;
        }
    }
}

//main section

//About section
#about {
    @include flexCenter(row,none);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
    background-color: $navy;
}
//All Headings H1
h1 {
    font-size: 40px;
}

//Services section
.services {
    text-align: center;
    padding: 20px;
    color: $black;
    h1 {
        color: $black;
    }
}
.blocks {
    @include flexCenter(row,none);
    text-align: center;
    .block {
        padding: 10px;
    }
}

//Work section

.work {
    @include flexCenter(column,$navy);
    padding: 20px;
    h1{
        color: white;
    }
    iframe {
        width: 50%;
        height: 80vh;
        padding: 20px
    }
}

//Contact section
.contact {
    @include flexCenter(column,none);
    padding: 20px;
    h1 {
        color: $black;
    }
    form{
        @include flexCenter(column,none);
        padding: 20px;
        label {
            @include flexCenter(column,none);
            color: $black;
            input {
                width: 100%;
            }
            textarea {
                width: 110%;
            }
        }
        button {
            border: 1px solid $red;
            border-radius: 20px;
            background-color: $red;
            padding: 15px;
            margin-top: 20px;
            color: white;
            &:hover {
                background-color: white;
                border: 1px solid white;
                color: $navy;
                text-decoration: none;
            }
        }
    }
}
#map {
    width: 100%;
    text-align: center;
    iframe {
        padding: 20px;
        width: 50%;
        height: 500px;
    }
}

//Footer section

.footer {
    @include flexCenter(column,none);
    padding: 20px;
    color: $black;
    a {
        color: $black;
        &:hover {
            color: black;
        }
    }
}

