@mixin flexCenter($direction, $background) { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background-color: $background;
}

@import "./colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

//Navigation section

.header {
    @include flexCenter(row, none);
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .nav {
        //background-color: aqua;
        ul {
            li {
                display: inline;
                padding: 40px;
                a {
                    color: $black;
                    &:hover {
                        color: $grey;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//main section

.main {
    #image {
        text-align: center;
    }
    .about {
        @include flexCenter(column,none);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0px;
        width: 80%;
        color: $black;
    }
    h1 {
        font-size: 30px;
        color: black;
    }
    #weDo {
        padding-bottom: 20px;
        text-align: center
    }
    .blocks {
        background-color: aqua;
        @include flexCenter(row,none);
        text-align: center
    }
} 

//Buttons section

#callToAction {
    @include flexCenter(row,none);
    justify-content: space-between;
    width: 35%;
    padding: 20px;
    a {
        padding: 20px;
        color: $black;
        text-decoration: none;

    }
    #work {
        border: 1px solid $black;
        border-radius: 20px;
        background-color: $black;
        color: white;
        &:hover {
            background-color: white;
            border: 1px solid $black;
            color: $black;
        }
    }
    #contact {
        border: 1px solid $black;
        border-radius: 20px;
        &:hover {
            background-color: $black;
            color: white;
        }
    }
}

//Footer section

.footer {
    @include flexCenter(column,none);
    padding: 20px;
    color: $black;
    a {
        color: $black;
        &:hover {
            color: black;
        }
    }
}

