@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: 'Raleway', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header .nav ul li {
  display: inline;
  padding: 40px;
}

.header .nav ul li a {
  color: #525252;
}

.header .nav ul li a:hover {
  color: #727272;
  text-decoration: none;
}

.main #image {
  text-align: center;
}

.main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  width: 80%;
  color: #525252;
}

.main h1 {
  font-size: 30px;
  color: black;
}

.main #weDo {
  padding-bottom: 20px;
  text-align: center;
}

.main .blocks {
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: none;
  text-align: center;
}

#callToAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  padding: 20px;
}

#callToAction a {
  padding: 20px;
  color: #525252;
  text-decoration: none;
}

#callToAction #work {
  border: 1px solid #525252;
  border-radius: 20px;
  background-color: #525252;
  color: white;
}

#callToAction #work:hover {
  background-color: white;
  border: 1px solid #525252;
  color: #525252;
}

#callToAction #contact {
  border: 1px solid #525252;
  border-radius: 20px;
}

#callToAction #contact:hover {
  background-color: #525252;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: none;
  padding: 20px;
  color: #525252;
}

.footer a {
  color: #525252;
}

.footer a:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */